@page
@model IndexModel
@{
    ViewData["Title"] = "Início - Personagens Marvel";
}

<div class=" text-center">
    <h1 class="display-4"><b>Seja bem vindo!</b></h1>
    <p><a style="color: red;" href="https://localhost:5001/Personagem"><b>Clique aqui para pesquisar e ler sobre seus personagens favoritos da Marvel.</b></a></p>
    <img src="https://images4.alphacoders.com/232/232866.jpg" width="100%" height="100%" alt="">
</div>
 


